* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

p,h3,h4,h1,b {
  text-wrap: balance;
  color: black;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  width: min-content;
}

header{
  padding: 8px 1rem;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0px;
  background-color: white;
  
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: inherit;
}

#small-screen{
  display: none;
}

.centered{
  margin-left: 50%;
}

.center ul{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  gap: 1rem;
}

.right ul{
  display:flex ;
  justify-content: space-between;
  gap: 1rem;
}

main {
  padding: 0px 2rem;
}

@keyframes appear {
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

.animation{
  animation: appear 3s cubic-bezier(0.215, 0.610, 0.355, 1);
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}

.section-hero {
  display: grid;
  grid-template-rows: 0.5fr;
  place-items: center;
  text-wrap: balance;
  margin-top: 3.3rem;
}

.hero-section-image {
  width: inherit;
  height: inherit;
}

.hero-section-image-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero-header {
  width: 100%;
  height: inherit;
}

.hero-info > h2,p {
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.heroTitle{
  font-size: xx-large;
  color: white;
  width: 150%;
  text-wrap: balance;
}

.hero-info {
  position: relative;
  bottom: 25rem;
  width: 50%;
}

.btn {
  width: fit-content;
  margin-left: 2rem;
  padding: 0.5rem;
  background-color: burlywood;
  border: none;
  cursor: pointer;;
}

.btn:hover{
  background-color: rgb(248, 225, 195);
  transition: all 0.3s;
}

.hero-card-crousel {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  gap: 2rem;
  margin-bottom: 1rem;
}

.control-btn{
  visibility: hidden;
}

.crousel-card {
  width: 200px;
  text-align: center;
}

.carousel-card-flower-img {
  width: 100%;
  height: 200px;
  padding: 1rem;
}

hr {
  border-top: white 1px solid;
  height: 2px;
  border-bottom: gray 1px solid;
  background-color: white;
  margin: 1rem 0px;
}

.article-container {
  width: 100%;
  height: fit-content;
  margin: 2rem 0px;
  padding: 1rem;
}

.article {
  text-align: center;
  width: 70%;
  place-self: center;
}

.ln-mor-btn {
  width: fit-content;
  position: relative;
  padding-bottom: 0.2rem;
}

.ln-mor-btn::after {
  content: " ";
  background: linear-gradient(90deg, #fb7c00, #e73b50, #9e009b);
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 103px;
}

.ln-mor-btn:hover::after {
  animation: move-right 2s ease-in-out;
  animation-fill-mode: forwards;
  
}

@keyframes move-right {
  from {
     transform: translateX(0px);
     width: 0px;
  }
  to {
    transform: translateX(12px);
    width: 90px;
  }
}

.occasion-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  padding: 0rem;
}

.occasion-card > * {
  text-align: center;
  padding: 10px 5px;
}

.occasion-card {
    font-size: 1em;
    padding: 1em;
}

.occassion-img {
  width: 100%;
  height: fit-content;
  padding: 1rem;
}

.product-section {
  margin: 2rem 0px;
  padding: 0rem;
}

.product-title {
  text-align: center;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

.product-card p {
  margin-bottom: 1rem;
}

.flower-img {
  width: inherit;
  height: fit-content;
}

.flower-card {
  width: 100%;
  padding: 2rem;
  height: fit-content;
}

.product-card p,
b {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.product-section > .centered-btn {
  margin: 2rem 0px;
  place-self: center;
}

.mission {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 2rem 0px;
  padding: 1rem 0px;
  gap: 1rem;
  align-items: center;
}

.mission > div {
  width: 80%;
}

.image-container {
  background-color: rgb(248, 221, 225);
  height: fit-content;
}

.mission-image {
  height: fit-content;
  width: 90%;
}

.mission-info {
  padding: 1rem 0px;
}

.mission-info > * {
  margin-bottom: 1rem;
  padding-left: 0px;
  text-align: left;
}

footer {
  padding: 0rem 1rem;
}

.footer {
  margin: 1rem 0px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1rem;
}

.icons > * {
  margin-right: 1rem;
}

.socialmedia {
  margin: 1rem 0px;
}

.subscription-card p,.services p,.company p,.socialmedia p {
  margin: 0px;
  padding: 0px;
}

.subscription-card h3,.subscription-card p {
  margin-bottom: 1rem;
}

.services p,.services ul > li {
  margin: 0.5rem;
}

.company p {
  margin: 0.5rem 0px;
}

.connect {
  display: flex;
  gap: 1rem;
  width: inherit;
}

.company,.services {
  width: 50%;
  margin-right: 1rem;
}

.email-input{
  padding: 0.5rem;
  border-radius: 5px;
  border: black 1px solid;
}

@media only screen and ((min-width: 0px) and (max-width: 540px)) {

    #large-screen{
      display: none;
    }

    #small-screen{
      display: contents;
    }

    .center {
      display: flex;
      flex-direction:row;
      justify-content:space-between;
      padding: 0.5rem 0px;
      height: max-content;
    }

    #list-items{
      background-color: burlywood;
      position: absolute;
      left: 0px;
      width: 100%;
      z-index: 1;
    }

    #list-items li{
      place-self: center;
      padding: 0.5rem;
      text-align: center;
    }

    .icons-on-right{
      display: flex;
    }

    .logo  *{
      margin: 0px;
    }
    .section-hero {
      display: grid;
      grid-template-rows: 1fr;
      place-items: center;
      text-wrap: balance;
      margin-top: 3.2rem;
    }
  
    .heroTitle{
      font-size: medium;
      color: black;
      width: fit-content;
      text-wrap: balance;
    }

    .hero-section-image {
      width: inherit;
      height: inherit;
    }
  
    .hero-section-image-container {
      width: 100%;
      height: 50%;
      margin-bottom: 1rem;
    }
  
    .hero-header {
      width: 100%;
      height: fit-content;
      position: relative;
    }
  
    .hero-info{
      width: 100%;
  }
  
    .hero-info > h2,
    p {
      margin-bottom: 1rem;
      padding-left: 0rem;
    }
  
    .hero-info {
      position: relative;
      bottom: 0rem;
      margin-bottom: 1rem;
    }
  
    .slider div:not(div:first-child){
      display: none;
    }
    
    .control-btn{
      visibility: visible;
      place-self: center;
    }

    .btn {
    width: fit-content;
    margin-left: 0rem;
    padding: 0.5rem;
    }

    .article {
        text-align: center;
        width: 100%;
      }

    .product-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .occasion-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .occasion-card {
        font-size: 0.7em;
        padding: 1em;
    }
  }